<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="group">
		<%= link_to "編輯", edit_group_path(@group), :class => "btn btn-success pull-right" %>
	</div>
	<h2><%= @group.title %></h2>
	<p><%= @group.description %></p>
	<hr>
	<%= link_to "返回", root_path, :class => "btn btn-info btn-block" %>
</div>